Node-red 소스 파일
[{"id":"c8e84582.1391d8","type":"mqtt out","z":"4e9873a1.992e8c","name":"","topic":"/kdi/outTopic","qos":"","retain":"","broker":"94ddd29d.5e576","x":594.01735496521,"y":89.01042652130127,"wires":[]},{"id":"e57338d6.ac3348","type":"mqtt in","z":"4e9873a1.992e8c","name":"","topic":"/kdi/outTopic","qos":"0","broker":"94ddd29d.5e576","x":195.01736450195312,"y":165.01041984558105,"wires":[["e81eb445.f42908"]]},{"id":"2f83ca05.01bf76","type":"ui_colour_picker","z":"4e9873a1.992e8c","name":"","label":"Control RGB Led","group":"4ed595c0.52f69c","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":213.01736450195312,"y":85.01041984558105,"wires":[["5d5378c.2eccd88"]]},{"id":"e81eb445.f42908","type":"ui_text","z":"4e9873a1.992e8c","group":"4ed595c0.52f69c","order":0,"width":0,"height":0,"name":"","label":"mqtt","format":"{{msg.payload}}","layout":"row-spread","x":361.0173645019531,"y":165.01041984558105,"wires":[]},{"id":"6b8996c4.e13568","type":"debug","z":"4e9873a1.992e8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620.0764465332031,"y":32.670143127441406,"wires":[]},{"id":"92b4c6f8.e9b858","type":"ui_slider","z":"4e9873a1.992e8c","name":"","label":"Bright","tooltip":"","group":"4ed595c0.52f69c","order":2,"width":"4","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":176.06944274902344,"y":237.59723663330078,"wires":[["b7da722e.38841","2973641b.1413ac"]]},{"id":"b7da722e.38841","type":"ui_text","z":"4e9873a1.992e8c","group":"4ed595c0.52f69c","order":3,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":322.0833549499512,"y":305.38543701171875,"wires":[]},{"id":"2973641b.1413ac","type":"function","z":"4e9873a1.992e8c","name":"","func":"global.set(\"bright\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":351.0694580078125,"y":247.5416603088379,"wires":[[]]},{"id":"5d5378c.2eccd88","type":"function","z":"4e9873a1.992e8c","name":"","func":"var bright=global.get(\"bright\")||0;\nmsg.payload.bright=bright;\nreturn msg;","outputs":1,"noerr":0,"x":413.07988357543945,"y":85.54166603088379,"wires":[["6b8996c4.e13568","c8e84582.1391d8"]]},{"id":"94ddd29d.5e576","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4ed595c0.52f69c","type":"ui_group","z":"","name":"Group 1","tab":"46d3e93a.70b228","order":1,"disp":true,"width":"6","collapse":false},{"id":"46d3e93a.70b228","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]
